body{
    background-color:grey;
  }
  h1{
    background-color:beige;
    padding:10px;
    text-align:center;
      font-family:helvetica;
  }
  .container{
    width:35%;
  background-color:white;
    margin:auto;
    margin-top:50px;
    overflow: scroll;
    }

  .footer {
    background-color: white;
    padding:5px;
  }

  .img {
    width: 100%;
  }
   
  .headerpost{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:10px;
  }